*{
    margin: 0; 
    padding: 0;
}
body{
    background: #eee;
     font-family: 'Roboto', sans-serif; box-sizing: border-box; 
    }
.container{
    background: #fff;
    box-sizing: border-box;

    max-width: 1000px;
     margin:0 auto; 
     padding: 20px;
}
.header{

}
.contac-info{
    background: blue; 
    color: white; 
    padding: 5px;
     border-radius: 4px;
     }


.cell-phn{
    position: absolute; 
    bottom: 9px;
    left: 28px;
}



.profile-image{
width: 100px;
height: 120px; 
border: 3px solid white;
border-radius: 50%;
float: left; 

}
.header-bio{
float: left; 
padding: 30px; 
}
h1,h2,h3,h4,h5,h6{

  }

.header-contact{
float: right; 
padding: 10px;
position: relative;
}

.header-contact a {
text-decoration: none; 
font-weight: bold;  
}
.header-paragraph{
color:red; 
background: green; 
}
.header-contact a:hover{
background: #333; 
color: white; 
}

.div-clear{
clear: both;
}

hr{
border: solid black 3px; 
width: 100%; 
margin: 20px auto; 
border-bottom: none; 
}
/*--- personal section start -------*/
.personal-section{

}
.personal-section .content{
    margin-bottom: 30px;
}
.content .left-div{
width: 30%; 
float: left;
}
.content .right-div{
width: 70% ; 
float:left; 
}
/*--- personal section end -------*/
.common-hr{
border: solid black 2px;
border-bottom: none; 
width: 100%; 
margin: 20px auto;
}


<!----> 
/*------edu-template-start------*/
.right-div .edu-template-left{
width: 50%; 
background: red; 
float: left; 
padding: 10px; 
box-sizing: border-box;
}

.width-wi{width: 100%; float: left; box-sizing: border-box; }

.right-div .edu-template-right{
width: 50%;
background:yellow;
float: left; 
padding: 10px;box-sizing: border-box
}

/*-----footer start--------*/
.bottom-container{
background: black; text-align: center; padding: 10px; 



}


/*-----footer start--------*/
.bottom-container a{ 
color: white; 
text-decoration: none; 
margin: 20px;


    
}
.bottom-container p{ 
    color: white;  
    margin: 20px;


    
}
@media screen and (min-width: 200px) {
      .header, .heading{width: 100%;}
     

}

